@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

h1, h2 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #03045E;
}

p {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
}

h3 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}